@font-face {	
	font-family: lora;
	src: url('static/Lora-Regular.ttf') format('truetype');
	font-weight: 400;
}

@font-face {	
	font-family: lora;
	src: url('static/Lora-Medium.ttf') format('truetype');
	font-weight: 500;
}

@font-face {	
	font-family: lora;
	src: url('static/Lora-SemiBold.ttf') format('truetype');
	font-weight: 600;
}

@font-face {	
	font-family: lora;
	src: url('static/Lora-Bold.ttf') format('truetype');
	font-weight: 700;
}
